__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/
data/
data_raw/
*.pth
*.pt
*.ckpt
outputs/
predictions/
checkpoints/
logs/
runs/
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.tmp
*.temp
*.log
kaggle.json
build/
dist/
*.egg-info/
wandb/
tensorboard/